<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Default" />


    <f:section name="main">
        <div class="tx-hive-cpt-cnt-bs-collapse">

            <f:switch expression="{aSettings.navType}">
                <f:case value="0"><f:render section="buttons" arguments="{collapses: collapses, aSettings: aSettings}" /></f:case>
                <f:case value="1"><f:render section="accordion" arguments="{collapses: collapses}" /></f:case>
                <f:defaultCase><f:render section="accordion" arguments="{collapses: collapses}" /></f:defaultCase>
            </f:switch>
            <f:comment>

            <div class="panel-group" id="accordion-id-{recordUid}" role="tablist" aria-multiselectable="true">
                <f:for each="{collapses}" as="collapse" iteration="i" key="index">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion-id-{recordUid}" href="#collapse-page_{collapse.collapse.renderPage}" aria-expanded="true" aria-controls="collapse-page_{collapse.collapse.renderPage}">
                                    {collapse.collapse.title}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-page_{collapse.collapse.renderPage}" class="collapse{f:if(condition: collapse.collapse.collapsed, then: ' show', else: '')}" role="tabpanel" >
                            <div class="card-body">
                                <f:cObject typoscriptObjectPath="lib.site.anchor" data="{pageUid: '{collapse.collapse.renderPage}'}" />
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
            </f:comment>
        </div>
    </f:section>

    <f:section name="buttons">
        <div class="row">
            <div class="col controllBtn">
                <f:for each="{collapses}" as="collapse" iteration="i" key="index">
                    <button class="btn {aSettings.buttonType}" type="button" data-toggle="collapse" data-target="#collapse-page_{collapse.collapse.renderPage}" aria-expanded="{f:if(condition: collapse.collapse.collapsed, then: 'true', else: 'false')}" aria-controls="collapse-page_{collapse.collapse.renderPage}">
                        {collapse.collapse.title}
                    </button>
                </f:for>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <f:for each="{collapses}" as="collapse" iteration="i" key="index">
                    <div id="collapse-page_{collapse.collapse.renderPage}" class="collapse{f:if(condition: collapse.collapse.collapsed, then: ' show', else: '')}">
                        <div class="card card-body">
                            <f:cObject typoscriptObjectPath="lib.site.anchor" data="{pageUid: '{collapse.collapse.renderPage}'}" />
                        </div>
                    </div>
                </f:for>
            </div>
        </div>

    </f:section>

    <f:section name="accordion">
        <div class="accordion" id="#accordion-id-{recordUid}">
            <f:for each="{collapses}" as="collapse" iteration="i" key="index">
                <div class="card">
                    <div class="card-header" id="heading_{collapse.collapse.renderPage}">
                        <h4 class="mb-0 panel-title">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-page_{collapse.collapse.renderPage}" aria-expanded="{f:if(condition: collapse.collapse.collapsed, then: 'true', else: 'false')}" aria-controls="collapse_{collapse.collapse.renderPage}">
                                {collapse.collapse.title}
                            </button>
                        </h4>
                    </div>
                    <div id="collapse-page_{collapse.collapse.renderPage}" class="collapse{f:if(condition: collapse.collapse.collapsed, then: ' show', else: '')}" aria-labelledby="heading_{collapse.collapse.renderPage}" data-parent="#accordion-id-{recordUid}" >
                        <div class="card card-body">
                            <f:cObject typoscriptObjectPath="lib.site.anchor" data="{pageUid: '{collapse.collapse.renderPage}'}" />
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:section>

</div>