<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">
        <div class="tx-hive-cpt-cnt-bs-tab">
            <ul class="nav {aSettings.navType} {aSettings.navAlignment}" role="tablist">
                <f:for each="{tabs}" as="tab" iteration="i" key="index">
                    <li class="nav-item">
                        <a href="#tab-page_{tab.tab.renderPage}" class="nav-link{f:if(condition: i.isFirst, then: ' active')}" role="tab" data-bs-toggle="tab">{tab.tab.title}</a>
                    </li>
                </f:for>
            </ul>

            <div class="tab-content">
                <f:for each="{tabs}" as="tab" iteration="i" key="index">
                    <div role="tabpanel" class="tab-pane fade {f:if(condition: i.isFirst, then: ' active show')}" id="tab-page_{tab.tab.renderPage}">
                        <f:cObject typoscriptObjectPath="lib.site.anchor" data="{pageUid: '{tab.tab.renderPage}'}" />
                    </div>
                </f:for>
            </div>
        </div>
    </f:section>
</div>